<%= simple_form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>

  <div class="field">
    <%= f.input :time %>
  </div>

  <div class="field">
    <%= f.input :season, collection: @seasons %>
  </div>

  <div class="field">
    <%= f.input :favorite %>
  </div>

  <div class="field">
    <%= f.input :main_ingredient, collection: @main_ingredients %>
  </div>
  <h3>Ingredients</h3>
  <%= f.input :ingredients, as: :select, collection: Ingredient.all, value_method: :name, input_html: {multiple: true, class: "ingredient-select"}, include_blank: true %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= javascript_tag("ingredient.init(#{@ingredients.map(&:to_json)})") %>
