<%= simple_form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>

  <div class="field">
    <%= f.input :time %>
  </div>

  <div class="field">
    <%= f.input :season, collection: @seasons %>
  </div>

  <div class="field">
    <%= f.input :favorite %>
  </div>

  <div class="field">
    <%= f.input :main_ingredient, collection: @main_ingredients %>
  </div>
  <h3>Ingredients</h3>
  <div class="field" id="recipes">
    <%= f.simple_fields_for :recipe_ingredients do |recipe_ingredient| %>
      <%= render 'recipe_ingredient_fields', f: recipe_ingredient %>
        <%= link_to_add_association 'add an ingredient', f, :recipe_ingredients %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
