<p id="notice"><%= notice %></p>
<div class="col-12">
  <div class="row pb-3 align-items-center">
    <h1>
      <%= @recipe.name %>
    </h1>
    <div>
      <%= favorite_button(@recipe, 48) %>
    </div>
  </div>
</div>

<p>
  <strong>Time:</strong>
  <%= @recipe.time %>
</p>

<p>
  <strong>Season:</strong>
  <%= @recipe.season %>
</p>

<p>
  <strong>Main Ingredient:</strong>
  <%= @recipe.main_ingredient %>
</p>
<h3>Ingredients(<%= @recipe.ingredients.count %>)</h3>
<% @recipe.ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
<% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
<%= javascript_tag("autoCheck.init()") %>
